body {
  padding: 0;
  margin: 0;
  /*background-image: url("./images/clouds.jpg");*/
  background-color: #ededed;
}

.pure-control-group label {
  visibility: hidden;
}

.pure-control-group #zipcode, #city, #state, #area {
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 20em;
  font-size: 2em;
  background-color: #eef6fb;
  box-shadow: none;
}

.pure-control-group {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.pure-controls {
  text-align: center;
  margin-left: 0;
}


p {
  text-align: center;
  margin-left: 11em;
}

input[type="text"] {
  font-family: FontAwesome;
}

#form-wrapper {
  margin-top: 15em;
  margin-right: 5em;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera */
  -moz-animation: fadein 3s; /* Firefox */
  -ms-animation: fadein 3s; /* IE */
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
